{% extends 'SVentasBundle::base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link href ="{{ asset('bundles/assets/css/styles.css') }}" type="text/css" rel="stylesheet">

{% endblock %}
{% block content -%}
    <div class="table-responsive">
    
    <!-- ME DICE SI QUIEN ESTA LOEGADO -->
        <div>
            <table   WIDTH="100%">
                <tr >
                    <th style="text-align:left;">
                        <h4 style="color:#659B0A">Listado de Retirados Evento {{ pagination[0].idEventos.nombre }}</h4>
                    </th>
                    <th style="text-align:right;">
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <img src="{{ asset('bundles/portaladmin/images/ico_usuario.png') }}" ALT="{{app.user.username}}" />
                            Usuario: <a style="color:#DD3A7F">{{ app.user.username}}</a>
                        {% else %}
                            <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                        {% endif %}
                    </th>
                </tr>
            </table>
        </div>
                    
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Personal</th>
                <th>Estatus</th>
                <th>Fechamodificacion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in pagination %}
            <tr>
                <td><a href="{{ path('ventas_show', { 'id': entity.id }) }}">{{ entity.idPersonal }}</a></td>
                <td>{% if entity.estatus == 0 %}No Retirado{% else %}Retirado{% endif %}</td>
                <td>{% if entity.fechaModificacion %}{{ entity.fechaModificacion|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td align="center">
                        <a href="{{ path('ventas_edit', { 'id': entity.id }) }}" data-toggle="tooltip" title="Editar ventas"><img src="{{ asset('bundles/portaladmin/images/ico_editar.png') }}" ALT="editar" /></a>
                        <a href="{{ path('ventas_show', { 'id': entity.id }) }}" data-toggle="tooltip" title="Eliminar ventas"><img src="{{ asset('bundles/portaladmin/images/ico_elimiar.png') }}" ALT="Eliminar" /></a>
                        <!--<a href="{#{ path('noticias_show', { 'id': entity.id }) }}"><img src="{{ asset('bundles/portaladmin/images/ico_lupa.png') }#}" ALT="show" /></a>-->
                </td>
            </tr>
        {% endfor %}
        </tbody>
    <tfoot>
        <tr>
            <td colspan = "5" align="center">
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </td>
        </tr>
        </tfoot>   
    </table>
    </div>
    {% endblock %}

